<html>
<body>
    {% for tweet in tweets %}
        {{tweet.data.published_date}}
        <br/>
        {{tweet.data.tweet}}
        <br/>
        <b>{{tweet.data.html|safe}}</b>
        <br/>
        {{tweet.data.dates}}
        <br/>
        {{tweet.progress}}
        <br/>
        <br/>
    {% endfor %}
</body>
</html>
